* {
  padding: 0;
  margin: 0;
}
#user_input {
  margin-left: 20px;
  padding: 5px;
  margin-top: 20px;
}
#search_content {
  margin-left: 20px;
  padding: 3px;
  vertical-align: top;
  margin-top: 20px;
}
ul {
  margin-left: 20px;
  margin-top: 20px;
}
ul li {
  list-style-type: none;
  display: inline;
  padding: 5px;
  border: 1px solid red;
  cursor: pointer;
}
ul li + li{
  margin-left: 5px;
}
button {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
  padding: 2px;
  vertical-align: top;
}
/*匹配高亮*/
.highlight {
  color: red;
}
